{% if mylogs %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>{{mylogs.0.build_number}} -> {{mylogs.0.host}}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="/view/{{mylogs.0.host}}"><span>{{mylogs.0.host}} Builds</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://cattle.yourdomain.com"><span>Back to cattle.yourdomain.com</span></a></span>
			</div>
			<header>
				<h1>{{mylogs.0.host}}<span>Build {{mylogs.0.build_number}} logs</span></h1>	
				<nav class="codrops-demos">
					<!--<a class="current-demo" href="index.html" title="Basic Usage">Basic Usage</a>-->
					<!--<a href="index2.html" title="Biaxial Headers">Biaxial Headers</a>-->
					<!--<a href="index3.html" title="Wide Tables">Wide Tables</a>-->
				</nav>
			</header>
			<!--<div class="component">
				<h2>Basic usage</h2>
				<p>Eating corn</p>-->
				<table>
					<thead>
						<tr>
							<th>Log Name</th>
							<th>Upload Date</th>
							<th>Log Link</th>
						</tr>
					</thead>
					<tbody>
                        {% for log in mylogs %}
                           <tr><td class="log_name">{{log.name}}</td><td class="build-date">{{log.created_at}}</td><td class="log-link">{% if log.logfile %}<a href="/view/{{log.host}}/{{log.build_number}}/{{log.name}}">View {{log.name}}</a>{% else %}No File Attached{% endif %}</td></tr>
                        {% endfor %}
					</tbody>
				</table>
				
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="/static/js/jquery.stickyheader.js"></script>
	</body>
</html>
{% endif %}