{% if mylogs %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>{{mylogs.0.host}} builds</title>
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="/"><span>Cowtracks.yourdomain.com</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://cattle.yourdomain.com"><span>Back to cattle.yourdomain.com</span></a></span>
			</div>
			<header>
				<h1>{{mylogs.0.host}}<span>Builds with logs</span></h1>	
				<nav class="codrops-demos">
					<!--<a class="current-demo" href="index.html" title="Basic Usage">Basic Usage</a>-->
					<!--<a href="index2.html" title="Biaxial Headers">Biaxial Headers</a>-->
					<!--<a href="index3.html" title="Wide Tables">Wide Tables</a>-->
				</nav>
			</header>
			<!--<div class="component">
				<h2>Basic usage</h2>
				<p>Eating corn</p>-->
				<table>
					<thead>
						<tr>
							<th>Build Number</th>
							<th>Build Date</th>
							<th>View Logs</th>
						</tr>
					</thead>
					<tbody>
                        {% for log in mylogs %}
                        <tr><td class="build_number"><a href="/view/{{log.host}}/{{log.build_number}}">{{log.build_number}}</a></td><td class="build-date">{{log.created_at}}</td><td class="build-link"><a href="/view/{{log.host}}/{{log.build_number}}">View logs</a></td></tr>
                        {% endfor %}
					</tbody>
				</table>
				
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="/static/js/jquery.stickyheader.js"></script>
	</body>
</html>
{% endif %}