<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Cowtracks Known Hosts</title>
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="/"><span>Cowtracks.yourdomain.com</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://cattle.yourdomain.com"><span>Back to cattle.yourdomain.com</span></a></span>
			</div>
			<header>
				<h1>Cowtracks<span>Known hosts</span></h1>	
				<nav class="codrops-demos">
					<!--<a class="current-demo" href="index.html" title="Basic Usage">Basic Usage</a>-->
					<!--<a href="index2.html" title="Biaxial Headers">Biaxial Headers</a>-->
					<!--<a href="index3.html" title="Wide Tables">Wide Tables</a>-->
				</nav>
			</header>
			<!--<div class="component">
				<h2>Basic usage</h2>
				<p>Eating corn</p>-->
				<table>
					<thead>
						<tr>
							<th>Host Builds</th>
							<th>Version</th>
							<th>Update</th>
                            <th>Manage</th>
						</tr>
					</thead>
					<tbody>
                    {% if myCowVersions %}
{% for host in myCowVersions %}
<tr><td class="host-name"><a href="/view/{{host.host}}">{{host.host}}</a></td><td class="host-version">{{host.value}}</td><td class="host-update"><a href = "http://{{host.host}}/updatecow_external" target = "_empty"><button>Update...</button></a></td><td class="host-link"><a href="http://{{host.host}}">View host</a></td></tr>
{% endfor %}
{% endif %}
                    
						
					</tbody>
				</table>
				
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
		<script src="static/js/jquery.stickyheader.js"></script>
	</body>
</html>