{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<title>{{mylog.logfile.name}}</title>

	<!-- Meta Tags -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
</head>

<body style="margin-left: 30px;margin-right: 30px;margin-top: 20px;font-family: Verdana, sans-serif;font-size: 14px;">

{{mylogcontent|linebreaksbr}}

</body>

<footer>

</footer>

</html>
